# Папки зі скомпільованими файлами або залежностями
# Їх можна завжди перевстановити або згенерувати заново
/node_modules
/dist
/build

# Файли з секретними даними (ключі API, паролі)
.env
config.json

# Системні файли операційної системи
.DS_Store
Thumbs.db

# Налаштування та кеш Visual Studio Code
.vscode/

# Лог-файли
*.log

# інше
*.txt
*.zip
*.rar

